* {
    font-family: 'Handlee', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.fixed-top {
    top: 0px;
    transition: top 3s;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
}

#dim {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#mainpage {
    background-image: url(img/mainpage.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 240px;
}

.carousel-control-prev,
.carousel-control-next {
    display: block;
    margin-top: 100px;
}

.card-columns {
    column-count: 2;
}

.card-columns .card h5 {
    display: none;
}

.card-columns .card-body {
    display: none;
}


/* desktop */

@media (min-width:576px) {
    /* navbar */
    .fixed-top {
        top: -60px;
        transition: top 3s;
    }
    .fixed-top:hover {
        top: 0 !important;
        transition: top 3s;
    }
    .navbar-nav {
        font-size: 1.5rem;
    }
    .nav-link {
        text-shadow: 1px 1px 3px rgba(black, black, black, .6);
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid greenyellow;
        width: 50px;
        margin: -3px auto;
    }
    .card-columns {
        column-count: 5;
    }
    .card-columns .card h5 {
        display: block;
    }
    .card-columns .card-body {
        display: block;
    }
    /* jumbotron */
    #mainpage {
        height: 780px;
    }
    #hotnews {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}